<div class="container mb-5">

    <div class="mt-4 mservics">
        <h3>¡En BestGld te ofecemos buen servicio!</h3>
        <pre class="ms">
        Nuestro inigualable equipo consta de servicios al cliente que trabajan las 24 horas, 7 dias a la semana
              para brindarte una asistencia de primer nivel y siempre atentos antes tus dudas. ¿No crees?
¡Comience a chatear con nuestros agentes en vivo y conozca los beneficios del intercambio seguro de oro OSRS hoy mismo!

        </pre>
    </div>


    <hr>

    <!-- <div class="row row-cols-3 row-cols-md-3 ml-auto"> -->

    <!-- <div class="col mb-3"> -->
    <div class="description1 row">
        <img src="assets/dolar.jpg" class="card-img-top img-1" alt="...">

        <div class="description2 col-md-4 mt-5">
            <h5 class="card-title">Vende tu oro con nosotros.</h5>
            <p class="card-text">Tenemos los mejores precios del mercado contamos con una gran variedad de bancos, plataformas de pagos, nacionales e internacionales. Ofrecemos rapidez y confianza a nuestros clientes. !Aprovecha Vende Tu Oro!
            </p>
        </div>
        <img class="perso1" src="assets/img-cards/perso1.png">
    </div>

    <hr>

    <div class="description3 row">
        <img class="perso2" src="assets/img-cards/perso2.png">
        <div class="description4 col-md-4 ml-md-auto ">
            <h5 class="card-title ">¿Por que confiar en BestGold?.</h5>
            <p class="textconf ">Conocemos y hemos sufrido el pésimo servicio que ofrecen, los incontables tiempos de espera, impostores y fraudes por parte de otros Sitios Web. Como la empresa fue fundada por un jugador para jugadores, no hay nadie en el mercado que comprenda
                sus necesidades mejor que nosotros.
            </p>
        </div>
        <img src="assets/signo.jpg " class="card-img-top " alt="... ">
    </div>


    <hr>

    <div class="description5 row mt-5 ">
        <img src="assets/neon.jpg " class="card-img-top " alt="... ">
        <div class="description6 col-md-4 mt-5 ">
            <h5 class="card-title ">
                ¿Qué Nos Diferencia?.</h5>
            <p class="card-text ">En Runescape 07 Gold buscamos crear relaciones sólidas y duraderas que permitan a los usuarios sentirse seguros. Sabemos que crear un vínculo de confianza es el mayor incentivo para nuestros compradores y vendedores.
            </p>
        </div>
        <img class="perso3" src="assets/img-cards/perso3.png ">
    </div>
