<div class="caja4">

    <div class="container">

        <section>

            <form class="contact-form" (ngSubmit)="guardar()">

                <legend>¡Contáctanos!</legend>

                <input class="is-valid" type="text" name="nombre" ngModel placeholder="Escribe tu nombre" required>

                <input type="email" name="email" placeholder="Ingresa tu correo">

                <input type="text" name="subject" placeholder="Asunto a tratar">

                <textarea name="comments" id="" cols="50" rows="5" placeholder="Escribe tus comentarios"></textarea>

                <input type="Submit">

            </form>

        </section>



    </div>

</div>
