<div class="caja2">


    <div class="container">

        <h1 class="text-center text">
            En nuestra tienda puedes encontrar gran variedad de metodos de pago.

        </h1>

    </div>
</div>

<div class="caja3">

    <div class="container">
        <div class="row">
            <div>
                <h5 class="title">Metodos de pago</h5>
                <p> Nuestros clientes pueden disfrutar la libertad de elegir entre diferentes bancos para vender su oro. Desde bacos de venezuela, hasta plataformas de pago internacionales. !Vende tu oro con nosotros, recibimos una cantidad minima de 10M!.
                    Trabajamos con.
                </p>
            </div>
        </div>

        <div class="row">
            <figure>
                <img src="assets/img-pagos/paypal.png" alt="">
            </figure>
            <figure>
                <img src="assets/img-pagos/bancop.jpg" alt="">
            </figure>
            <figure>
                <img src="assets/img-pagos/localbit.png" alt="">
            </figure>
            <figure>
                <img src="assets/img-pagos/banco-banesco.jpg" alt="">
            </figure>
        </div>
    </div>
</div>
